body {
  background-color: #092249;
}

h1{
  font-family: 'Titillium Web', sans-serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #ffffff;
}

h3{
  font-family: 'Titillium Web', sans-serif;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #ffffff;
}

h4{
  font-family: 'Titillium Web', sans-serif;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #ffffff;
}
