body {
  background-color: #fccf1c;
}
h1{
  position: absolute;
  left: 10%;
  top: 5%;
  font-family: 'Titillium Web', sans-serif;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #ffffff;
}
